
<p>
  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Creswave</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>
</p>



<form [formGroup]="profileForm" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>DISCHARGE SUMMARY</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <mat-label>Patient Name?</mat-label>
            <input formControlName="PatientName" matInput placeholder="PatientName">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width" >
            <mat-label>Patient Age?</mat-label>
            <input  formControlName="Age" matInput placeholder="Age">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <mat-radio-group  formControlName="gender" class="margin-left">
                <mat-label>Pick Patient Gender</mat-label>
                <mat-radio-button value="male" checked> Male </mat-radio-button>
                <mat-radio-button value="female"> Female </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <div class="col-md-6">
      <mat-form-field class="full-width" >
        <mat-label>Admin No?</mat-label>
        <input  formControlName="AdminNo" matInput placeholder="Admin No">
      </mat-form-field>
    </div>
    <div class="col-md-6 top-padding">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Enter a date of D.O.A-D.O.D</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input formControlName="dob" matStartDate placeholder="D.O.A">
          <input formControlName="dob" matEndDate placeholder="D.O.D">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>                 
      </div>
      <div class="col-md-6">
        <mat-form-field class="full-width" >
          <mat-label>Name Of Consultant(S): ?</mat-label>
          <input  formControlName="NameOfC" matInput placeholder="Name Of Consultant">
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Reason For Admission?</mat-label>
            <textarea  formControlName="Admission" matInput placeholder="Reason For Admission"></textarea>
          </mat-form-field>
        </div>
      </div>
        <div class="col-md-6">
          <mat-form-field class="full-width" >
            <mat-label>Comorbidities: </mat-label>
            <input  formControlName="Comorbidities" matInput placeholder="Comorbidities">
          </mat-form-field>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Diagnosis</mat-label>
              <textarea  formControlName="Diagnosis" matInput placeholder="Diagnosis"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>History (Medical & Surgical):</mat-label>
              <textarea  formControlName="History" matInput placeholder="History (Medical & Surgical):"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Investigations:</mat-label>
              <textarea  formControlName="Investigations" matInput placeholder="Investigations"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Labs & Attached Results:</mat-label>
              <textarea  formControlName="Labs" matInput placeholder="Labs & Attached Results:"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Management:</mat-label>
              <textarea  formControlName="Management" matInput placeholder="Management: "></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <mat-label style="font-size: medium;">Physiotherapy:</mat-label>
          <ol>
        <li>  <mat-form-field class="full-width" >
              <mat-label>Rom:</mat-label>
              <input  formControlName="Rom" matInput placeholder="Rom">
          </mat-form-field></li>
        <li>  <mat-form-field class="full-width" >
              <mat-label>Gait:</mat-label>
              <input  formControlName="Gait" matInput placeholder="Gait">
          </mat-form-field></li>
        <li>  <mat-form-field class="full-width" >
            <mat-label>Mobility (Transfers):</mat-label>
            <input  formControlName="Mobility" matInput placeholder="Mobility (Transfers)">
             </mat-form-field></li>
        <li> <mat-form-field class="full-width" >
            <mat-label>Motor/ Strength:</mat-label>
            <input  formControlName="Motor" matInput placeholder="Motor/ Strength">
            </mat-form-field></li>
        </ol>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Occupational Therapy- Functionality:</mat-label>
              <textarea  formControlName="Occupational" matInput placeholder="Occupational Therapy- Functionality"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Speech Therapy-Feeding & Swallowing::</mat-label>
              <textarea  formControlName="Speech" matInput placeholder="Speech Therapy-Feeding & Swallowing"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Nursing:</mat-label>
              <textarea  formControlName="Nursing" matInput placeholder="Nursing"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Clinical Condition On Discharge:</mat-label>
              <textarea  formControlName="Clinical" matInput placeholder="Clinical Condition On Discharge"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Medication On Discharge:</mat-label>
              <textarea  formControlName="Medical" matInput placeholder="Medication On Discharge"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Instruction On Discharge:</mat-label>
              <textarea  formControlName="Instruction" matInput placeholder="Instruction On Discharge"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width" >
            <mat-label>Doctor’s Name:</mat-label>
            <input  formControlName="Doctor" matInput placeholder="Doctor’s Name">
          </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="saveForm()" mat-raised-button color="primary">Save</button>
    </mat-card-actions>
  </mat-card>
</form>