.full-width{
    width: 100%;
}
.example-spacer {
    flex: 1 1 auto;
  }
.top-padding{
    padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child){
    margin-left:10px;
}


.form-container{
    margin: 100px;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    
}